@import './styles/Intro.scss';
@import './styles/About.scss';
@import './styles/Experience.scss';
@import './styles/Skillset.scss';
@import './styles/Navigation.scss';


@media only screen and (max-width: 768px) {
  .app-option {
    height: 6.5rem;
    width: 6.5rem;
  }

  .about-right{
    height: 70vh;
  }

  .skillset-section{
    height: 70vh;
  }

  .experience-section-title{
    height: 4rem;
    font-size: 2.5rem;
  }
  
  .skill-title{
    height: 4rem;
    font-size: 2.5rem;
  }

  .name-heading {
    font-size: 2.5rem;
  }

  .role-heading{
    font-size: 1.25rem;
  }

  .about-container{
    flex-direction: column;

    &.experience{
      flex-direction: column-reverse;
    }
  }

  .sticky{
    position: relative;
    height: 70vh !important;
  }

  .headings{
    font-size: 2.5rem;
  }

  .MuiTypography-body1{
    font-size: .75rem !important;
  }

  .experience-section-heading{
    font-size: 1rem;
  }

  .experience-title{
    font-size: 1rem;
    margin-top: -.8rem;
  }

  .contact-container {
    height: 30rem;
  }
}